<form [formGroup]="loginForm">

    <div class="col-md-2 offset-md-5" style="margin-top: 10%">
        <div class="form-group" style="margin-bottom: 2%">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email">
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
                class="text-danger">
                El email es requerido
            </div>
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']"
                class="text-danger">
                El email es inválido
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 2%">
            <label for="password">Clave</label>
            <input type="password" class="form-control" formControlName="password" id="password">
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                class="text-danger">
                La clave es requerida
            </div>
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
                class="text-danger">
                La clave debe tener al menos 10 caracteres
            </div>
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['pattern']"
                class="text-danger">
                La clave tiene que tener al menos una letra mayúscula, una minúscula y un carácter especial.
            </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="login()" style="width: 100%"
            [disabled]="!loginForm.valid">
            Ingresar
        </button>
    </div>

</form>